h1{
   font-style: italic;
}
body {
   background-color: #006666;
   background-image:url('../Image/images.jpg');
   background-size: cover;

}
body {
   height: 100%;
   width: 100%;
   display: flex;
   position: fixed;
   align-items: center;
   justify-content: center;
}
